 .base
 {
    height: 100%;
    width: 100%; position: absolute;
 }
 
 .container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    width: 35%;
   border-radius: 3px;
    background: white;
    padding-bottom: 30px;
    }

.header
{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
    


}
.text
{
    color: rgb(46, 46, 166);
    font-size: 42px;
    font-weight: 600;
}

.underline
{
    width:61px;
    height: 6px;
    background: rgb(31, 31, 179);
    border-radius: 9px;
}
 .inputs
{
   margin-top: 45px;
   display: flex;
   flex-direction: column;
   gap: 25px;
   align-items: center;
} 


 


 .input{


    display: flex;
    align-items: center;
    margin: auto;
    width: 90%;
   height: 65px;
   background: rgb(248, 244, 244);
   border-radius: 6px;
} 
 
.input input{
    height: 50px;
    width: 400px;
    padding-left: 18px;
    background: transparent;
    border: 1px solid black;
    border-radius: 7px;
    outline: none;
    color:#0f0707;
    font-size: 19px;
    
}
.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;

}
.forgot-password span{
    color: #4c00b4;
    cursor: pointer;
}
.submit
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height:35px;
    color: #fff;
    background: #3434c0;
    border-radius: 50px;
    font-size: 19px;
    cursor: pointer;
    font-weight: 400;
}

.submit1
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height:50px;
    color: #fff;
    background: #4c4cbf;
    border-radius: 50px;
    font-size: 19px;
    cursor: pointer;
    font-weight: 700;
}

.submit-container
{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}
.gray
{
    background: rgb(230, 217, 217);
    color: gray;

}